.env
__pycache__/
*.pyc
outputs/
*.ipynb_checkpoints/
**/.DS_Store
estimators/.DS_Store
steering_vecs_and_evals/.DS_Store
steering_vectors_and_evals/qwen_layer-14_token-last/.DS_Store
text_data/.DS_Store
activations/*
!activations/.gitkeep
steering_vecs/*
!steering_vecs/.gitkep
experiment_results/results_vary_alpha_entire_seq_logits.pkl
experiment_results/*
logs/*
misc_notes/*
results/*
saved_plots/*
bash_scripts_notebooks/*
misc_pickles/*